@import 'partials/params';
@import 'partials/mixin';

.bottom {
    font-family: Arial, Helvetica, sans-serif;

    &__content {

        & .bottom__latest {
            margin-top: 20px;
            border-bottom: 1px solid $lightgrey;

            & .bottom__title--latest {
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid $lightgrey;
            }

            & .lates__btn {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid black;
                
            }

            & .lates__btn--left {
                margin-left: auto;
                margin-right: 12px;
            }

            & .latest__gallery {
               display: flex;
               justify-content: space-between;

                & .latest__img {
                    width: 223px;
                    height: 160px;
                    outline: 1px solid black;
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
            }
        }

        & .bottom__ourClients {
            display: flex;
            padding-top: 20px;
            padding-bottom: 40px;

            & .bottom__testim {
                width: 525px;
                padding-right: 90px;
                font-size: 14px;

                & .testim__text {
                    color: green;
                    margin-bottom: 25px;
                    line-height: 24px;
                }

                & .testim__signature {
                    font-style:italic; 
                    font-weight: bold;
                    color: $dotcolor;
                }
            }

           
            & .bottom__client {

                & .client__logo {
                    width: 483px;
                    height: 200px;
                    //  outline: 1px solid black;
                    display: grid;
                    grid-template-columns: 161px 161px 161px ;
                    grid-template-rows: 100px 100px;
                    grid-gap: 0px;
                     & .client__client {
                         border: 1px solid black;
                     }
                }
            }

        }

        & .bottom__download {
            display: flex;
            width: auto;
            padding: 35px;
            outline: 1px solid $middleColor;
            margin-bottom: 40px;
            background: #e8fcfe;
            font-size: 16px;

            & .download__text {
                line-height: 1.5em;
            }

            & .download__btn {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                padding: 0.5em 1em;
                width: 552px;
                border-radius: 10px;
                border: 1px solid $middleColor;
                background:linear-gradient(to bottom, #e8fcfe, $middleColor);
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 80px;
            }
        }

        & .bottom__title {
            display: flex;
            margin-bottom: 20px;

            & .title__icon {
                 width: 42px;
                   height: 42px;
                //    border-radius: 50%;
                   background-color: $middleColor;
                   margin-right: 15px;
                   background-image: url(img/middle_icon.png);
                   background-repeat: no-repeat;
                   background-position: 11px 9px;
            }

            & .title__text {
                display: inline-block;
                text-transform: uppercase;
                font-size: 15px;
                // font-weight: bold;
            }
        }
    }
}