@import "partials/params";
@import "partials/mixin";

body {
    @include clear;
}
.view-port {
    width: 1000px;
    margin: 0 auto;
}



    // background-color: $marin;

    a {
        text-decoration: none;

    }

    .fa-chevron-down {
        margin-left: 10px;
    }

    .fa-angle-right {
        margin-right: 10px;
        color: #000;
    }