@import "partials/params";
@import "partials/mixin";

.view-port {
    width: 1000px;
    margin: 0 auto;
}


    // background-color: $marin;

    a {
        text-decoration: none;

    }